<section class='basic-grid main-screen'>
    <h1 class='header'>QUEST CHARACTER SHEET</h1>
    <div class='button-section'>
        <a class='adminButtons' id='downloadAnchorElem' (click)='download()'>DOWNLOAD {{jsonToDownload['charSheet'].name.toUpperCase()}}</a>
        <button class='adminButtons' onclick="document.querySelector('#hiddenInput').click()">
            UPLOAD
        </button>
    </div>
    <div class='basic-grid sheet-section'>
        <app-character-builder [uploadedJson]='uploadedSheet' [forceUpload]='forceJsonUpload' (charName)='getCharName($event)' (charSheetJson)='getJson($event, "charSheet")' class='charSheet'></app-character-builder>
        <app-inventory [inventoryJson]='uploadedSheet' [forceUpload]='forceJsonUpload' (jsonToExport)='getJson($event, "charInventory")' class='invenSheet'></app-inventory>
        <app-abilities [abilitiesJson]='uploadedSheet' (jsonToExport)='getJson($event, "charAbilities")' class='abilitySheet'></app-abilities>
    </div>
    <div class='attribution-section'>
        <p>
            This work uses material from the
            Quest Creators Resource. The Quest
            Creators Resource by The Adventure
            Guild, LLC is licensed under <a rel='noreferrer' target="_blank" href='https://creativecommons.org/licenses/by/4.0/'>CC BY
            4.0</a>.
        </p>
        <p>
            For more information about
            Quest, please visit <a rel='noreferrer' target="_blank" href='https://www.adventure.game'>www.adventure.
            game</a>.
        </p>
        <p>
            Additionally, please <a rel='noreferrer' target="_blank" href='https://www.adventure.game/community-code'>read Quest’s
            Community Guidelines</a> to help create
            experiences that are positive and fun.
        </p>
    </div>
    <div class='version-section'>
        <span>v1.0.1 - "First pass, let's Quest!"</span>
        <span>Web app by <span class='magenta'>@codeLiches</span></span>
    </div>
</section>

<input style='display: none' #fileUploadInput type='file' id='hiddenInput' accept=".json, application/json" (change)='uploadFile($event)'>