<section class='basic-grid main-screen'>
    <h1 class='header'>QUEST CHARACTER SHEET</h1>
    <div class='button-section'>
        <a class='adminButtons' id='downloadAnchorElem' (click)='download()'>DOWNLOAD {{jsonToDownload['charSheet'].name.toUpperCase()}}</a>
        <button class='adminButtons' onclick="document.querySelector('#hiddenInput').click()">
            UPLOAD
        </button>
    </div>
    <div class='basic-grid sheet-section'>
        <app-character-builder [uploadedJson]='uploadedSheet' [forceUpload]='forceJsonUpload' (charName)='getCharName($event)' (charSheetJson)='getJson($event, "charSheet")' class='charSheet'></app-character-builder>
        <app-inventory [inventoryJson]='uploadedSheet' [forceUpload]='forceJsonUpload' (jsonToExport)='getJson($event, "charInventory")' class='invenSheet'></app-inventory>
        <app-abilities [abilitiesJson]='uploadedSheet' (jsonToExport)='getJson($event, "charAbilities")' class='abilitySheet'></app-abilities>
    </div>
</section>

<input style='display: none' #fileUploadInput type='file' id='hiddenInput' accept=".json, application/json" (change)='uploadFile($event)'>