<div class='questCard'>
    <section class='basic-grid character-grid'>
        <div>Hello,</div>
        <div class='line-grid names-and-pronouns'>
            <span class='top'>My name is </span>
            <span class='input-grid middle'>
                <input class='input-section' type='text' name='charName'> 
                <p>Name</p>
            </span>

            <span class='input-grid bottom'>
                <span class='input-section'>
                    <input type='text' name='charPronouns'>
                </span>
                <p>Pronouns</p>
            </span>
        </div>

        <div class='line-grid age-height'>
            <span>I'm</span>
            <span class='input-grid age-section'>
                <input class='inputPaddingRight' type='number' min='1' max='300' name='charAge'>
                <p>Age</p>
            </span>
            <span>year(s) old</span>
            <span class='andStand'>and stand</span>
            <span class='input-grid height-section'>
                <input  type='text' name='charHeight'>
                <p>Height</p>
            </span>
            <span class='tall'> tall.</span>
        </div>

        <div class='line-grid single-line-description-input'>
            <span>I'm the party's</span>
            <span class='input-grid input-section'>
                <input  type='text' name='charRole'>
                <p>Role</p>
            </span>
            <span class='endPunctuation'>.</span>
        </div>

        <div class='line-grid distinct'>
            <span class='first'>
                When people see me, they first notice my
            </span>
            <span class='input-grid dFeature1'>
                <input  type='text' name='charDistinct1'>
                <p>First Distinctive Feature</p>
            </span>
            <span class='comma1'>,</span>
            <span class='input-grid dFeature2'>
                <input  type='text' name='charDistinct2'>
                <p>Second Distinctive Feature</p>
            </span>
            <span class='comma2'>,</span>
        </div>

        <div class='line-grid vibe'>
            <span class='first'>and</span> 
            <span class='input-grid vibe-section'>
                <input  type='text' name='charDistinct3'>
                <p>Vibe</p>
            </span>
            <span class='third'>.</span>
        </div>

        <div class='line-grid style'>
            <span class='first'>I wear </span>
            <span class='input-grid style1'>
                <input  type='text' name='charStyle1'>
                <p>First Distinct Style</p>
            </span>
            <span class='third'>,</span>
            <span class='input-grid style2'>
                <input  type='text' name='charStyle2'>
                <p>Second Distinct Style</p>
            </span>
            <span class='fifth'>,</span>
        </div>

        <div class='line-grid mannerism'>
            <span class='first'>and move with</span>
            <span class='input-grid'>
                <input  type='text' name='charStyle3'>
                <p>Distinct Mannerism</p>
            </span>
            <span>.</span>
        </div>

        <div class='line-grid home'>
            <span class='firstHome'>I'm from </span>
            <span class='input-grid home-section'>
                <input  type='text' name='charHome'>
                <p>Home</p>
            </span>
            <span class='homeComma'>,</span>
        </div>

        <div class='line-grid'>
            <span>where my people are known for </span>
        </div>

        <div class='line-grid'>
            <span class='input-grid'>
                <input  type='text' name='charCommunity'>
                <p>Community</p>
            </span>
            <span>.</span>
        </div>

        <div class='line-grid single-line-description-input'>
            <span>I believe in </span>
            <span class='input-grid input-section'>
                <input  type='text' name='charIdeal'>
                <p>Ideal</p>
            </span>
            <span class='endPunctuation'>,</span>
        </div>
        
        <div class='line-grid single-line-description-input'>
            <span>
                but my 
            </span>
            <span class='input-grid input-section'>
                <input  type='text' name='charFlaw'>
                <p>Flaw</p>
            </span>
            <span class='under-input-section'>side can get in the way.</span>
        </div>

        <div class='line-grid single-line-description-input'>
            <span>I dream of </span>
            <span class='input-grid input-section'>
                <input  type='text' name='charDream'>
                <p>Dream</p>
            </span>
            <span class='endPunctuation'>.</span>
        </div>
    </section>
</div>  