<section class='basic-grid characterCard-grid'>
    <div class='cardTitle'>
        Character Profile
    </div>
    <div class='questCard'>
        <section class='basic-grid character-grid'>
            <div>Hello,</div>
            <div class='line-grid names-and-pronouns'>
                <span class='top'>My name is </span>
                <span class='input-grid middle'>
                    <input [(ngModel)]='charSheet["name"]' (ngModelChange)='capitalizeString($event, "name"); updateJson()' class='input-section hiddenPrint' type='text' name='name'>
                    <span class='printOnly'>{{charSheet["name"]}}</span> 
                    <p>Name</p>
                </span>
    
                <span class='input-grid bottom'>
                    <input class='hiddenPrint' [(ngModel)]='charSheet["pronouns"]' (ngModelChange)='capitalizeString($event, "pronouns") ; updateJson()' type='text' name='charPronouns'>
                    <span class='printOnly'>{{charSheet["pronouns"]}}</span> 
                    <p>Pronouns</p>
                </span>
            </div>
    
            <div class='line-grid age-height'>
                <span class='im'>I'm</span>
                <span class='input-grid age-section'>
                    <input [(ngModel)]='charSheet["age"]' (ngModelChange)='updateJson()' class='hiddenPrint' style='text-align: center;' type='number' min='1' max='2000' name='charAge'>
                    <span class='printOnly'>{{charSheet["age"]}}</span>
                    <p>Age</p>
                </span>
                <span class='yearsOld'>year(s) old and stand </span>
                <span class='input-grid height-section'>
                    <input class='hiddenPrint' [(ngModel)]='charSheet["height"]' (ngModelChange)='updateJson()' type='text' name='charHeight'>
                    <span class='printOnly'>{{charSheet["height"]}}</span>
                    <p>Height</p>
                </span>
                <span class='tall'> tall.</span>
            </div>
    
            <div class='line-grid single-line-description-input'>
                <span>I'm the party's</span>
                <span class='input-grid input-section'>
                    <input class='hiddenPrint'[(ngModel)]='charSheet["role"]' (ngModelChange)='capitalizeString($event, "role") ; updateJson()' type='text' name='charRole'>
                    <span class='printOnly'>{{charSheet["role"]}}</span>
                    <p>Role</p>
                </span>
                <span class='endPunctuation'>.</span>
            </div>
    
            <div class='line-grid distinct'>
                <span class='first'>
                    When people see me, they first notice my
                </span>
                <span class='input-grid dFeature1'>
                    <input class='hiddenPrint'[(ngModel)]='charSheet["body"]' (ngModelChange)='capitalizeString($event, "body") ; updateJson()' type='text' name='charBody'>
                    <span class='printOnly'>{{charSheet["body"]}}</span>
                    <p>Body</p>
                </span>
                <span class='comma1'>,</span>
                <span class='input-grid dFeature2'>
                    <input class='hiddenPrint'[(ngModel)]='charSheet["face"]' (ngModelChange)='capitalizeString($event, "face") ; updateJson()' type='text' name='charFace'>
                    <span class='printOnly'>{{charSheet["face"]}}</span>
                    <p>Face</p>
                </span>
                <span class='comma2'>,</span>
            </div>
    
            <div class='line-grid vibe'>
                <span class='first'>and</span> 
                <span class='input-grid vibe-section'>
                    <input class='hiddenPrint'[(ngModel)]='charSheet["vibe"]' (ngModelChange)='capitalizeString($event, "vibe") ; updateJson()' type='text' name='charDistinct3'>
                    <span class='printOnly'>{{charSheet["vibe"]}}</span>
                    <p>Vibe</p>
                </span>
                <span class='third'>.</span>
            </div>
    
            <div class='line-grid style'>
                <span class='first'>I wear </span>
                <span class='input-grid style1'>
                    <input class='hiddenPrint'[(ngModel)]='charSheet["distinct1"]' (ngModelChange)='capitalizeString($event, "distinct1") ; updateJson()' type='text' name='charStyle1'>
                    <span class='printOnly'>{{charSheet["distinct1"]}}</span>
                    <p>First Distinct Style</p>
                </span>
                <span class='third'>,</span>
                <span class='input-grid style2'>
                    <input class='hiddenPrint'[(ngModel)]='charSheet["distinct2"]' (ngModelChange)='capitalizeString($event, "distinct2") ; updateJson()' type='text' name='charStyle2'>
                    <span class='printOnly'>{{charSheet["distinct2"]}}</span>
                    <p>Second Distinct Style</p>
                </span>
                <span class='fifth'>,</span>
            </div>
    
            <div class='line-grid mannerism'>
                <span class='first'>and move with</span>
                <span class='input-grid'>
                    <input class='hiddenPrint'[(ngModel)]='charSheet["mannerism"]' (ngModelChange)='capitalizeString($event, "mannerism") ; updateJson()' type='text' name='charStyle3'>
                    <span class='printOnly'>{{charSheet["mannerism"]}}</span>
                    <p>Distinct Mannerism</p>
                </span>
                <span>.</span>
            </div>
    
            <div class='line-grid home'>
                <span class='firstHome'>I'm from </span>
                <span class='input-grid home-section'>
                    <input class='hiddenPrint'[(ngModel)]='charSheet["home"]' (ngModelChange)='capitalizeString($event, "home") ; updateJson()' type='text' name='charHome'>
                    <span class='printOnly'>{{charSheet["home"]}}</span>
                    <p>Home</p>
                </span>
                <span class='homeComma'>,</span>
            </div>
    
            <div class='line-grid'>
                <span>where my people are known for </span>
            </div>
    
            <div class='line-grid'>
                <span class='input-grid'>
                    <input class='hiddenPrint'[(ngModel)]='charSheet["community"]' (ngModelChange)='capitalizeString($event, "community") ; updateJson()' type='text' name='charCommunity'>
                    <span class='printOnly'>{{charSheet["community"]}}</span>
                    <p>Community</p>
                </span>
                <span>.</span>
            </div>
    
            <div class='line-grid single-line-description-input '>
                <span>I believe in </span>
                <span class='input-grid input-section'>
                    <input class='hiddenPrint'[(ngModel)]='charSheet["ideal"]' (ngModelChange)='capitalizeString($event, "ideal") ; updateJson()' type='text' name='charIdeal'>
                    <span class='printOnly'>{{charSheet["ideal"]}}</span>
                    <p>Ideal</p>
                </span>
                <span class='endPunctuation'>,</span>
            </div>
            
            <div class='line-grid single-line-description-input'>
                <span>
                    but my 
                </span>
                <span class='input-grid input-section'>
                    <input class='hiddenPrint'[(ngModel)]='charSheet["flaw"]' (ngModelChange)='capitalizeString($event, "flaw") ; updateJson()' type='text' name='charFlaw'>
                    <span class='printOnly'>{{charSheet["flaw"]}}</span>
                    <p>Flaw</p>
                </span>
                <span class='under-input-section'>side can get in the way.</span>
            </div>
    
            <div class='line-grid single-line-description-input'>
                <span>I dream of </span>
                <span class='input-grid input-section'>
                    <input class='hiddenPrint'[(ngModel)]='charSheet["dream"]' (ngModelChange)='capitalizeString($event, "dream") ; updateJson()' type='text' name='charDream'>
                    <span class='printOnly'>{{charSheet["dream"]}}</span>
                    <p>Dream</p>
                </span>
                <span class='endPunctuation'>.</span>
            </div>
        </section>
    </div>  
</section>