<div class='questCard'>
    <section class='basic-grid character-grid'>
        <div>Hello,</div>
        <div class='line-grid'>
            <span>My name is </span>
            <span class='input-grid'>
                <input (keyup)='growWidth($event)' (keyup)='growWidth($event)' class='input-section' type='text' name='charName'> 
                <p>Name</p>
            </span>

            <span class='input-grid'>
                <span class='input-section'>
                    (<input (keyup)='growWidth($event)' type='text' name='charPronouns'>).
                </span>
                <p>Pronouns</p>
            </span>
        </div>

        <div class='line-grid'>
            <span>I'm</span>
            <span class='input-grid'>
                <input (keyup)='growWidth($event)' type='number' min='1' max='300' name='charAge'>
                <p>Age</p>
            </span>
            <span>year(s) old and stand</span>
            <span class='input-grid'>
                <input (keyup)='growWidth($event)' type='text' name='charHeight'>
                <p>Height</p>
            </span>
            <span> tall.</span>
        </div>

        <div class='line-grid'>
            <span>I'm the party's</span>
            <span class='input-grid'>
                <input (keyup)='growWidth($event)' type='text' name='charRole'>
                <p>Role</p>
            </span>
            <span>.</span>
        </div>

        <div class='line-grid'>
            When people see me, they first notice my
        </div>

        <div class='line-grid'>
            <span class='input-grid'>
                <input (keyup)='growWidth($event)' type='text' name='charDistinct1'>
                <p>First Distinctive Feature</p>
            </span>
            <span>,</span>
            <span class='input-grid'>
                <input (keyup)='growWidth($event)' type='text' name='charDistinct2'>
                <p>Second Distinctive Feature</p>
            </span>
            <span>,</span>
        </div>
        <div class='line-grid'>
            <span>and</span> 
            <span class='input-grid'>
                <input (keyup)='growWidth($event)' type='text' name='charDistinct3'>
                <p>Vibe</p>
            </span>
            <span>.</span>
        </div>

        <div class='line-grid'>
            <span>I wear </span>
            <span class='input-grid'>
                <input (keyup)='growWidth($event)' type='text' name='charStyle1'>
                <p>First Distinct Style</p>
            </span>
            <span>,</span>
            <span class='input-grid'>
                <input (keyup)='growWidth($event)' type='text' name='charStyle2'>
                <p>Second Distinct Style</p>
            </span>
            <span>,</span>
        </div>

        <div class='line-grid'>
            <span>and move with</span>
            <span class='input-grid'>
                <input (keyup)='growWidth($event)' type='text' name='charStyle3'>
                <p>Distinct Mannerism</p>
            </span>
            <span>.</span>
        </div>

        <div class='line-grid'>
            <span>I'm from </span>
            <span class='input-grid'>
                <input (keyup)='growWidth($event)' type='text' name='charHome'>
                <p>Home</p>
            </span>
            <span>,</span>
        </div>

        <div class='line-grid'>
            <span>where my people are known for </span>
        </div>

        <div class='line-grid'>
            <span class='input-grid'>
                <input (keyup)='growWidth($event)' type='text' name='charCommunity'>
                <p>Community</p>
            </span>
            <span>.</span>
        </div>

        <div class='line-grid'>
            <span>I believe in </span>
            <span class='input-grid'>
                <input (keyup)='growWidth($event)' type='text' name='charIdeal'>
                <p>Ideal</p>
            </span>
            <span>, but my </span>
        </div>
        
        <div class='line-grid'>
            <span class='input-grid'>
                <input (keyup)='growWidth($event)' type='text' name='charFlaw'>
                <p>Flaw</p>
            </span>
            <span>side can get in the way.</span>
        </div>
        <div class='line-grid'>
            <span>I dream of </span>
            <span class='input-grid'>
                <input (keyup)='growWidth($event)' type='text' name='charDream'>
                <p>Dream</p>
            </span>
            <span>.</span>
        </div>
    </section>
</div>  