//Alegreya
@import url('https://fonts.googleapis.com/css?family=Alegreya');
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC');

body {
    background-color: black;
    height: 100vh;  
    color: white;
    font-family: Alegreya;
}

.header {
  font-size: 2rem;
  font-family: "Alegreya Sans SC";
}

.questCard {
    border: 5px solid white;
    border-radius: 20px;
    padding: 1.5rem;
}

.roundBorder {
  background-color: white;
  color: black;
  border-radius: 0.8em;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  margin-right: 15px;
  text-align: center;
  width: 1.6em; 
}

.adminButtons {
  background-color: white;
  color: black;
  font-family: "Alegreya Sans SC";
  font-size: 1.5rem;
  border: 5px solid black;
  border-radius: 20px;
  padding-left: .5rem;
  padding-right: .5rem;
  cursor: pointer;

  text-decoration: none;

  &.disabledButton {
    background-color: grey;
    color: white;
    cursor: default;
    pointer-events: none;
  }

  &:hover {
    background-color: white;
    color: black;
    transform: scale(1.02);
  }
  &:active {
      transform: scale(.95);
  }
}

button.roundBorder {
  margin-right: 0rem;
  border-radius: 50%;
  font-size: 2rem;
}

.center-input {
  text-align: center;
}

.questCardGrid {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: auto 1fr;
  font-size: 1.5rem;
  place-content: stretch;

  .cardTitle {
    background-color: white;
    color: black;
    grid-column: 2;
    grid-row: 1 / span 2;
    z-index: 1;
    border: 5px solid black;
    border-radius: 20px;
    padding-left: .5rem;
    padding-right: .5rem;
    font-family: "Alegreya Sans SC";

    place-self: start center;
  }

  .cardBody {
    margin-top: 1rem;
    border: 5px solid white;
    border-radius: 20px;
    padding: 1.5rem;
      grid-row: 2;
      grid-column: 1 / span 3;    
  }
}

.basic-grid {
    display: grid;
    grid-gap: 1rem;
    place-items: center;

    &.main-screen {
      grid-template-columns: 1fr;
      .button-section {
        display: grid;
        grid-gap: 1rem;
      }
      .sheet-section {
        grid-template-columns: 1fr;
        place-items: stretch;
      }
      .attribution-section {
        font-size: .9rem;
        a {
          color: magenta;
        }
      }
    }
}

input, textarea {
    background-color: black;
    color: white;
    font-family: Alegreya;
    font-size: 1rem;
}

input {
  border: none;
  border-bottom: 1px solid white;

  &.toCap {
    text-transform: capitalize;
  }

  &.toUpperCase {
    text-transform: uppercase;
  }
}

textarea {
  border: 1px dotted white;
  resize: vertical;
}

.input-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  grid-gap: 0rem;
  grid-template-areas:
      "input"
      "helper";

  .input-section {
      grid-area: input;
  }
  input, textarea {
      padding-left: .5rem;
      width: 100%;
  }
  p {
      grid-area: helper;
      font-size: .9rem;
      place-self: start center;
      margin: 0rem;
      color: darkgrey;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

button {
  background-color: black;
  color: white;
  border: 1px solid white;

  &:hover {
      background-color: white;
      color: black;
      transform: scale(1.02);
  }
  &:active {
      transform: scale(.95);
  }
}

.printOnly {
  display: none;
}

@media only screen and (min-width: 768px) {
  .basic-grid {
    &.main-screen {
      .button-section {
        grid-template-columns: repeat(2, 1fr);
      }
      .sheet-section {
        grid-template-columns: repeat(2, 1fr);
        place-items: stretch;
        .abilitySheet {
          grid-column: 1 / span 2;
        }
      }
    }
  }
}

@media print {
  .hiddenPrint {
    display: none;
  }

  .printOnly {
    display: block;
    border-bottom: 1px solid black;
  }

  body {
    color: black;
  }

  .roundBorder {
    background-color: black;
    color: white;
  }

  .questCard {
    border: 5px solid black;
  }

  .questCardGrid {
    .cardTitle {
      background-color: white;
      color: black;
    }

    .cardBody {
      border: 5px solid black;
    }
  }

  // .basic-grid {
  //   &.main-screen {
  //     .sheet-section {
  //       grid-template-columns: repeat(2, 1fr);
  //       place-items: stretch;
  //       .abilitySheet {
  //         grid-column: 1 / span 2;
  //       }
  //     }
  //   }
  // }
}